
:root {
  /* charte des couleurs */
    --entretienrder-debug: 0px; /*  debug pour localiser les balises */
    --marge-debug: 5px;
    --rouge: #ff4848; 
    --noir: #232628; 
    --blanc: #ffffff; 
    --orange: #fab637; 	
    --orange-entete: #c68917; 
    --marron : #cc6119; 
    --bleu : #6c98e1;

    --marge-top: 0px;
    --marge-left: 100px;
    --marge-right: 100px;
      /* taille police */
    --f-s-primary0: 19px;
    --f-s-primary: 16px;
    --f-s-secondary: 12px;
    --f-s-tertiary: 11px;
    --f-s-a2-primary: 20px;

/* position des éléments dans le html */
--h-entretien_clients: 1000px; 
--t-a1_menu:var(--h-header);
--t-a2_pub: 600px;
--h-a2_pub: 70px;  
--t-a3_entretien_clients:calc(var(--t-a2_pub)+var(--h-a2_pub));

--h-a4_chapeau: 200px; 

--t-a4_chapeau_text_1: 0px; 
--l-a4_chapeau_text_1: 170px; 
--w-a4_chapeau_text_1: 400px; 
--h-a4_chapeau_text_1: 200px; 

--t-a4_chapeau_text_2: 0px; 
--l-a4_chapeau_text_2: 640px; 
--w-a4_chapeau_text_2: 400px; /* point interrogation ne rentrait pas, ajout de 50px ?   AVOIR */
--h-a4_chapeau_text_2: 200px; 

--h-veh_rec: 1000px;
--h-nous_choisir: 400px; 

--h-contact_nous: 50px; 

--h-veh_3: 700px; 

--h-a2_pub:80px;
--mt-a2_pub:-500px;
--mt-a3_entretien_clients:clac(var(--mt-a2_pub)+var(--h-a2_pub));
--t-veh_3_cadre:280px;
--l-veh_3_cadre:300px;
--w-veh_3_cadre:400px;
--h-veh_3_cadre:200px;

--h-footer:1000px;
}
/* ************************************************************gestion des couleurs */
.b-orange {background-color:var(--orange);}
.b-noir {background-color:var(--noir);}
.b-bleu {background-color:var(--bleu);}
.b-rouge {background-color:var(--rouge);}
.b-marron {background-color:var(--marron);}
.b-blanc {background-color:var(--blanc);}

.c-orange {color:var(--orange);}
.c-noir {color:var(--noir);}
.c-bleu {color:var(--bleu);}
.c-rouge {color:var(--rouge);}
.c-marron {color:var(--marron);}
.c-blanc {color:var(--blanc);}

/* **************** CSS général  ***********************************************/
@namespace url(http://www.w3.org/TR/2008/REC-xml-20081126/);
@font-face {
  font-family: MontSerrat;
  src:
    local(Montserrat, Open_Sans),
  url(Montserrat-ExtraBold.ttf) format("ttf"),
  url(Open_Sans.ttf) format("ttf");}



/* ****************  Lorem  ***********************************************************/
.id_lorem {  
  text-align: start;
  font-weight: bold;  
  top:0; margin-top:0; padding-top:0; color: white;  }  


.Lorem {   
  padding-left : 10px; margin-right:100px;

  }  
  .id_Lorem-white { color: var(--blanc); }  

/* ***********************************************************************************/
  .icon-nous-choisir  {width:50px; height:50px; }



.space-between-sections {
  height: 50px; /* Ajustez cette valeur selon vos besoins */
}

.section {
  flex: 1; 
  margin-bottom: 20px; /* Espacement entre les sections */
  padding: 20px;
  width:100%;
}
.content {
  display: flex;
  flex: 1; /* Fait en sorte que le contenu s'étende pour remplir l'espace disponible */
  justify-content: space-between; /* Distribue les sections également */
  gap: 20px; /* Espacement entre les sections */
  padding: 20px;
}
/* Style pour l'image */
.image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  /* Centrer l'image horizontalement */
}

.bg-blue-light-opacity {
  background-color: rgba(173, 216, 230, 0.7); /* light blue with 70% opacity */
}
html {
  margin-left:0 5px 0 5px;
 }
.container-fluid {
width: 100%;
padding: 0; /* Ajustez le padding pour éviter le débordement */
margin-left: 100px;
margin-right: 100px;
}

.a1_menu {
    width:100%;
    margin-top: var(--h-header); 
    padding:0;
}
.a1_menu a {
    vertical-align: top;
   color: black; 
   text-decoration: none; 
  }
.a1_menu a:hover { background-color: var(--rouge); }

.a2_pub {
  position: relative;
  display: flex;
  height:var(--h-a2_pub);
  margin-top: var(--mt-a2_pub)  !important;
  justify-content: center;
  flex-wrap: wrap;
  top: 50%; /* Centre verticalement */
  font-size:40px;
  text-align:center;
  z-index:8000;
  background-color:black;
}
.a2_pub img {
  width: 100%;
  height: auto;
}

.a3_entretien_clients {
  position: relative;
 /* Ajustement de la position pour être en dessous de .a2_pub */
  margin-top: var(--mt-a3_entretien_clients)  !important;
  left: 0px; /* Marge à gauche pour l'espacement horizontal */
  height:100%;
  right: 50px; /* Marge à droite pour l'espacement horizontal */
  background-color: white;
  z-index: 2; /* Assurez-vous que cet élément est en dessous de .a2_pub */
}
.a3_entretien_clients  h2 {
  font-size:2.5vm;
  font-weight:bold;
  color:black;
  margin-top:0; 
}
.a3_entretien_clients p {
  font-size: 1vm;
  color:black;
}
.a3_entretien_clients h2 span {
  color:var(--orange-entete);
}

.a4_chapeau {

  display: block;
  max-width: 100%;
  height: auto;
}
.a4_chapeau_text_1, .a4_chapeau_text_2 {
  position:relative;
  margin-top: -var(--h-a4_chapeau);
  width:var(--w-a4_chapeau_text_2);
  height:var(--h-a4_chapeau_text_2);
  padding: 20px;
  color: white;
  font-size: 16px;
}
.a4_chapeau_text_1, .a4_chapeau_text_2 {
  margin-bottom: 10px;
}
.a4_chapeau_text_1 h1, .a4_chapeau_text_2 h1 {
  font-weight: bold;
  font-size: 24px;
  color: black;
}
.a4_chapeau_text_1 {
  left:var(--l-a4_chapeau_text_1);
  background-color: var(--orange); /* Utilisation d'une variable CSS personnalisée */
}
.a4_chapeau_text_2 {
  left:var(--l-a4_chapeau_text_2);
  background-color: var(--rouge); /* Utilisation d'une variable CSS personnalisée */
}
.a4-lorem, .a3-lorem .a6-lorem, .a8-lorem {
  font-size: 17px;
  line-height: 1.6;
}
.a6-lorem {color:red;}
.a5_veh_rec {
  position: relative;
  vertical-align: top;
  text-align: center;
  height: auto; 
  background-color: black; 
  color: white;
  border-bottom: 5px solid var(--orange);
  padding-bottom: 7px;
  margin-left:250px;
  margin: 0 10px;
  border-top: 30px solid black;
  clear: both; /* Assurez-vous qu'il n'y a pas d'éléments flottants à gauche ou à droite */
}
.title-veh_rec {
  font-size:2.5vw;
  font-weight:bold;
  text-align:center;
  color:white;
  background-color:black;
  border-top: 30px solid black;
  border-bottom: 5px solid gold;
  margin-bottom: 30px;
  padding-bottom:5px;
}
.a5_veh_rec h1 {
  font-weight:bold;
  font-size: 1vw;
 }

.a5_veh_rec span {
  text-align: center;
  background-color:var(--bleu);
  font-weight: bold;
  font-size: 1vw;
  padding-left: 10px;
}

.promo-text {
  position:relative;
  text-align: center; /* Pour centrer horizontalement */
  border:1px solid white;
  background-color:vair(--noir);
  font-size:18px;
}
.promo-text div {
  font-weight:bold;
}
.first-column {
  left:10px;
}
.second-column {
  display: inline-block; /* Permet d'afficher les mots sur le premier mot  */
  vertical-align: middle;/* Pour aligner verticalement par rapport au prmier mot */
  background-color: var(--bleu);
  color: white;
  right:20px;
}
.second-column div:nth-child(1) {
  text-decoration: line-through;/* barrer le mot */
}
.first-word {
  position:absolute;
  left:0;
  top:0;
  display: inline-block;/* Permet de centrer le mot sur une ligne */
  margin-right: 20px; /* Espace entre les mots */
}
.second-word {
  position:absolute;
  left:0;
  top:30px;
}

 .a6_nous_choisir {
  position:relative;
  text-align:center;
  vertical-align: top;
  background-color:white;
  height:auto;
 }
 .a6_nous_choisir h1 {
  font-size:45px;
  font-weight: bold;
  text-align: center;
  color:black;
}
.a6_nous_choisir div div h2 {
  text-align: start;
  font-size: 25px;
  font-weight: bold;
  color:blue;
  text-align: center;
}
.a6_nous_choisir div div h3 {
  font-size: 14px;
  color:var(--gris);
}

.a7_contact_nous {
  text-align: center; /* Centre le contenu à l'intérieur du conteneur */
  margin-bottom:5px;
}
.a7_contact_nous h1 {
  position: relative;
  border: 1px solid var(--bleu);
  vertical-align: top;
  border-radius: 5px;
  padding: 10px 20px; /* Ajustez les valeurs de padding selon vos besoins */
  font-size: 2rem; /* Ajustez la taille de la police selon vos besoins */
  font-weight:bold;
  background-color: blue;
  color: white;
  display: inline-block; /* Utilisez inline-block pour ajuster la taille de la bordure autour du texte */
  margin: auto; /* Centre l'élément horizontalement */
}

.a8_veh_3 {
  position:relative;
  vertical-align: top;
  max-width: 100%;  /* Gardez l'image à l'intérieur de son conteneur */
  height: auto; /* Ajustez automatiquement la hauteur pour conserver les proportions */
  color:var(--blanc); }

.a8_veh_3 img {
max-width: 100%;
height:auto;
z-index:1;
}

.a8_veh_3-text {  
    position:absolute; 
    z-index:1; 
    top:200px;
    left: var(--l-veh_3_cadre);
    width: var(--w-veh_3_cadre);
    height: auto;
    transform: translate(-50%, -50%);
    background-color:var(--orange);
    color:black;
    padding: 10px;
    margin: 0;}
 
.a8_veh_3-text h1 {
  color:black;
  font-size: 1.5vw;/* Taille de police responsive */}

.a8_veh_3-text  h2 {
  color: white;
  font-size: 1.5vw;
}
.a8_veh_3-text p {
  color: black;
  font-size: 1vw; /* Taille de police responsive */
}

*{
  font-size: 1em;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

footer {
  position:relative;
  background-color:var(--noir); 
  margin-top: var(--mt-footer)  !important;
  color:var(--blanc);
  top: var(--t-footer);
  z-index:2;
}



/* Ajustez le titre en fonction de la taille de l'écran */
@media (max-width: 767px) {
  html, .container-fluid, body  {
    margin-left:0 5px 0 5px;
   }
  .title-veh_rec {
      font-size: 1.5rem; /* Réduit la taille du texte pour les petits écrans */
      margin-bottom: 20px; /* Ajuste l'espacement sous le titre */
      text-align:center;
  }
  .col-12 {
    flex: 0 0 100%; /* Désactive la flexibilité et force la largeur à 100% sur mobile */
    max-width: 100%; /* Assure que la largeur maximale est de 100% */
  }
  body { 
    width:100%;
    padding-top: 100px; 
    overflow-x: hidden; /* Empêche le défilement horizontal */
}
  button {z-index:9999; display:block; } /* hamburger */
  header {
    position: relative;
    display: none !important; /* Cela cache complètement le header, vérifiez si c'est votre intention */
}

.custom-image {display:none;}
.a3_entretiens {
    padding-top: 120px; /* Adjust to ensure it's not covered by the fixed navbar */
  }
 .a3_entretien_clients img {
   width:100%; height:auto; display:block;}
 .a3_entretien_clients h1 {
  margin-left:10px;
  text-align: start;
  font-size:2.5vw;}
.a3_entretien_clients h2 {
  margin-left: 10px;
  text-align: start;
  font-size: 2.5vw;
}
.a3_entretien_clients h3 {
  margin-left:44px;
  margin-right:50px;}
.a3-mobile-text {
    position:absolute;
    top:0px;
    padding-top: 200px; /* Align with .a3_entretiens padding */
    height:300px;
    text-align: center; /* Center align text */
    font-size: 1.5em; /* Adjust font size as needed */
    color: #000; /* Adjust text color as needed */
    display: block; /* Ensure the text is displayed */
}
.a5_veh_rec {
padding-top: 20px; /* Ajout d'un espace pour éviter le chevauchement */
}
.a5_veh_rec h1 {
  margin-left:130px;
  font-size:30px;
}
.a6_nous_choisir div div h2 {
  font-size:2em;
  font-weight:bold;
}
.a6_nous_choisir div div h3 {
  color:black;
  font-size:1em;
}

.container-fluid img {
  width: 100%; /* Redimensionne les images pour s'adapter à la largeur de l'écran */
  height:auto;
}
.container-fluid {
  width: 100%;
  padding: 0 10px; /* Ajustez le padding pour éviter le débordement */
  margin: 0 auto;
  margin-left: 5px; /* Décalage de 50px vers la gauche */
  margin-right: 5px;
  display: flex;
  flex-direction: row;
}
}
 .liseret-copyright {
     width: auto;
     height: 100%;
     background:var(--noir);
     text-align:center;
     margin-left: 40px;
     margin-right: 40px;
  }
 
 


/* styles footer */
            input[type=email],
            textarea {
              width: 100%;
              max-width: 250px;
              border: 2px solid #72ae00;
              border-radius: 4px;
              margin: 8px 0;
              outline: none;
              padding: 8px;
              box-sizing: border-box;
            }
      
            input[type=text],
            input[type=email] {
              height: 35px;
              width: 230px;
            }
      
            textarea {
              height: 75px;
              font-family: "MontSerrat";
              font-size: 13px;
              line-height: 1.1;
            }
      
            .input-icone {
              display: flex;
              align-items: stretch;
            }
      
            .icon-input input {
              flex-grow: 1;
              max-height: 100%;
            }
      
      
            .input-icone input[type=text],
            input[type=email],
            textarea {
              padding-left: 35px;
            }
      
            .input-icone {
              position: relative;
            }
      
            .input-icone i {
              position: absolute;
              right: 0;
              top: 8px;
              width: 35px;
              padding: 9px 8px;
              color: rgb(128, 0, 255);
            }
      
            input[type=email]:hover {
              background: #f2f2f2;
            }
      
            textarea:hover {
              background: #f2f2f2;
            }
      


       


  

    
