
:root {
  /* charte des couleurs */
    --border-debug: 0px; /* super debug pour localiser les balises */
    --marge-debug: 5px;
    --rouge: #ff4848; 
    --noir: #232628; 
    --blanc: #ffffff; 
    --orange: #fab637; 	
    --orange-entete: #c68917; 
    --marron : #cc6119; 
    --bleu : #6c98e1;
  /* t1_header */
    --marge-top: 0px;
    --marge-left: 100px;
    --marge-right: 100px;
      /* taille police */
    --f-s-primary0: 19px;
    --f-s-primary: 16px;
    --f-s-secondary: 12px;
    --f-s-tertiary: 11px;
  /* t2_header_menu */
    --f-s-a2-primary: 20px;}

/* **************** CSS général  ***********************************************/
@namespace url(http://www.w3.org/TR/2008/REC-xml-20081126/);
@font-face {
  font-family: MontSerrat;
  src:
    local(Montserrat, Open_Sans),
  url(Montserrat-ExtraBold.ttf) format("ttf"),
  url(Open_Sans.ttf) format("ttf");}


